* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: calc(16px + 1vw);
  line-height: calc(1.5 + 0.1vw);
}

@media only screen and (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
  }

  .flex_col > :last-child {
    margin-top: auto;
  }
}
