* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px;
}

/********************04_animation*******************/

/**********billede i toppen med overskriften**********/

.centered h1 {
  color: white;
}

.container {
  border: 1px solid black;
  display: grid;
  width: 100%;
  height: 200px;
}

.hero_img,
.centered {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
  justify-self: start;
  background-color: rgba(255, 255, 255, 0.3);
}

.hero_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.centered {
  justify-self: center;
  margin: 20px;
  padding: 20px;
}

.text_allign_right {
  text-align: right;
}

/************************05 pleasant **********************/

@media only screen and (min-width: 800px) {
  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; /* Default to auto rows */
    gap: 10px; /* Adjust the gap based on your design */
    text-align: left;
  }
  .paragraph_1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .paragraph_2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .paragraph_3 {
    grid-column: span 1;
    grid-row: span 2; /* Takes up 2 rows */
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; /* Default to auto rows */
    gap: 10px; /* Adjust the gap based on your design */
    text-align: left;
  }
  .paragraph_1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .paragraph_2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .paragraph_3 {
    grid-column: span 2; /* Takes up 2 columns */
    grid-row: span 1;
  }
}
