/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Image Styles */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Body Styles */
body {
  font-size: calc(16px + 1vw);
  line-height: calc(1.5 + 0.1vw);
}

/* Main Container Styles */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sprite Styles */
.sprite {
  width: 1100px;
  height: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Background Pattern Styles */
.pattern-background {
  width: 1100px;
  height: 200px;
  background: url("img/svg/SVG/fullcurve.svg") repeat-x;
  background-size: 30% 100%;
}

/* 03_cremekrukken Styles */
@media only screen and (min-width: 701px) {
  .left-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .right {
    grid-column: span 1;
  }

  .left {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 701px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .img_1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .img_2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .img_3 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .makeover {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .before {
    grid-column: span 1;
  }

  .pil {
    grid-column: span 1;
  }

  .after {
    grid-column: span 1;
  }
}

/* 04_animation Styles */
@media only screen and (min-width: 701px) {
  .float {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .text {
    max-width: calc(50% - 10px);
  }

  .float-right {
    max-width: calc(50% - 10px);
    max-height: 200px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .float-right img {
    width: 400px;
    height: 200px;
    margin-right: 5px;
  }
}

/* 05_pleasant Styles */
@media only screen and (min-width: 800px) {
  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    text-align: left;
  }

  .paragraph_1,
  .paragraph_2,
  .paragraph_3 {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    text-align: left;
  }

  .paragraph_1,
  .paragraph_2 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .paragraph_3 {
    grid-column: span 2;
    grid-row: span 1;
  }
}
